---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">My articles are also recorded on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<p style="font-size: 0.9em; color: #555; margin-top: 10px;">
  <em>Note: <span style="font-weight: bold;">*</span> indicates corresponding author; <span style="font-weight: bold;">†</span> indicates co-first authors.</em>
</p>

## Journal Articles
* **Zhang, M. Z.**, Wang, T. R., Lyu, P. H., Chen, Q. M., Li, Z. X.<sup>*</sup>, & Ngai, E. W. (2024). "Impact of gender composition of academic teams on disruptive output." Journal of Informetrics, 18(2), 101520. *



<!-- {% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



